<ion-view view-title="Add Reminder">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="save()">Add</button>
    </ion-nav-buttons>
    <form ng-submit="save()" novalidate>
        <ion-content>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Title</span>
                <input ng-model="reminder.title" name="title" type="text" ng-required>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Note</span>
                <textarea ng-model="reminder.note" name="rNote" rows="4"></textarea>
            </label>
            <ion-toggle ng-model="reminder.active" toggle-class="toggle-positive">Active</ion-toggle>
            <label class="item item-input item-select">
                <div class="input-label">
                    Interval
                </div>
                <select ng-model="reminder.interval">
                    <option value="hour">Hourly</option>
                    <option value="day" selected>Daily</option>
                    <option value="week">Weekly</option>
                    <option value="month">Monthly</option>
                    <option value="year">Yearly</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Frequency
                </div>
                <select ng-model="reminder.frequency">
                    <option value="1" selected>1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </label>

            <div class="padding">
                <h6 class="text-center dark">Use the button at the top right corner to add this reminder</h6>
                <a class="button button-energized button-block ion-android-cancel"
                   ng-href="#/tab/reminders"> Cancel & Goto Reminders
                </a>
            </div>
        </ion-content>
    </form>
</ion-view>