<ion-view view-title="Your Dashboard">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Reminder Status</div>
            <div class="item item-body">
                <div>
                    You have a total of <strong>{{reminders.length}}</strong> reminder(s) <br/>
                    <strong>{{active}}</strong> active and <strong>{{inactive.length}}</strong> inactive
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Notifications Status</div>
            <div class="item item-body">
                <div>
                    You have set up a total of <strong>{{totalNotifications}}</strong> notifications!
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">News From Bug Me</div>
            <div class="item item-body">
                <div>
                    There is no news from BugMe at the moment
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
